@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@layer components {
  .modal-animate-in {
    opacity: 0;
    transform: scale(0.5);
  }

  .modal-active {
    opacity: 1;
    transition: opacity 200ms, transform 200ms;
  }

  .modal-animate-out {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 200ms, transform 200ms;
  }

  .background-animate-in {
    opacity: 0;
  }

  .background-active {
    opacity: 0.6;
    transition: opacity 200ms;
  }

  .background-animate-out {
    opacity: 0;
    transition: opacity 200ms;
  }
}

.note-box {
  @apply bg-gray-900 font-bold grid place-items-center h-11 w-11 border-2 border-slate-300 rounded-md;
}

.note-box-correct {
  @apply bg-green-700 font-bold grid place-items-center h-12 w-12 border-2 border-slate-300 rounded-md;
}

.note-box-incorrect {
  @apply bg-red-700 font-bold grid place-items-center h-12 w-12 border-2 border-slate-300 rounded-md;
}

.note-input-button {
  @apply bg-gray-900 font-bold grid place-items-center h-10 w-10 border-2 border-slate-300 rounded-md;
}

.note-box-example {
  @apply bg-gray-900 font-bold grid place-items-center h-8 w-8 ml-2 border-2 border-slate-300 rounded-md;
}

.round-button {
  @apply bg-gray-900 w-8 h-8 rounded-full cursor-pointer grid place-items-center button-animation;
}

.round-button-example {
  @apply bg-gray-900 w-8 h-8 ml-2 rounded-full grid place-items-center;
}

.round-button-unclickable {
  @apply bg-gray-900 text-white w-8 h-8 rounded-full cursor-not-allowed grid place-items-center button-animation opacity-50;
}

.button-animation {
  @apply hover:bg-gray-600 hover:rounded-xl transition-all ease-in-out duration-75;
}
